* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf9ff;
}

.app {
  padding: 0rem 1.5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  color: #0081c9;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 0 0 1rem 0 #0081c9;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

header span {
  color: #86e5ff;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

section {
  display: flex;
  max-height: 80vh;
  max-width: 80%;
  flex-wrap: wrap;
  overflow: auto;
  gap: 0.9rem;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  min-width: 30rem;
  max-height: 25rem;
  background-color: white;
  gap: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  justify-content: center;
}

.inputName {
  width: auto;
  height: auto;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0081c9;
  background-color: #ecf9ff;
}

textarea {
  max-width: 100%;
  min-height: 20vh;
  max-height: 30vh;
  border: none;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  background-color: #ecf9ff;
}

.btnAdd,
.btnEdit {
  width: auto;
  height: auto;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #0081c9;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

.subject {
  width: 25rem;
  height: auto;
  display: flex;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 1.5rem;
  justify-content: space-between;
  max-height: 11rem;
}

/* .subject:hover {
  opacity: 0.5;
} */

.subject h2 {
  background-color: white;
  height: auto;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0081c9;
}

.subject p {
  background-color: white;
  height: 5rem;
  overflow: auto;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
}

.btnDelete {
  width: auto;
  height: auto;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  color: white;
  cursor: pointer;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnDelete {
  background-color: red;
  font-weight: bold;
}

.btnEdite,
.btnCopy {
  background: none;
  border: none;
  font-size: 1.7rem;
  padding: 0rem 0.5rem;
  color: #0081c9;
  cursor: pointer;
}

/*  */

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

/*  */

@media (max-width: 768px) {
  main {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (max-width: 425px) {
  form {
    display: flex;
    flex-direction: column;
    width: 25rem;
    min-width: 25rem;
    background-color: transparent;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
  }

  .subject {
    width: 26rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;
  }

  section {
    display: flex;
    height: 80vh;
    max-width: 73%;
    flex-wrap: wrap;
    overflow: auto;
    gap: 0.9rem;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .subject {
    width: 17rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;
  }

  .subject button {
    width: auto;
    height: auto;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
  }
}

@media (max-width: 320px) {
  form {
    display: flex;
    flex-direction: column;
    width: 16rem;
    min-width: 16rem;
    background-color: transparent;
    gap: 1rem;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
  }

  section {
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    overflow: auto;
    gap: 0.9rem;
    justify-content: center;
  }

  .sectionSubjects {
    width: 100%;
  }

  .subject button {
    width: auto;
    height: auto;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .subject {
    width: 13rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;
  }
}

.sectionSubjectPop {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(49, 49, 49, 0.8);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subLeftPop {
  width: 25rem;
  height: auto;
  background-color: white;
  padding: 1rem 1.5rem;
  gap: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.btnDeletePop {
  background-color: red;
  width: auto;
  height: auto;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  max-width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit button {
  width: auto;
  height: auto;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.sub {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub h2 {
  color: #0081c9;
}

.sub p {
  font-size: 1.5rem;
  max-height: 15rem;
  height: auto;
  overflow: auto;
}
